{{#each labels as |label|}}
    <a href="{{href-to "app.blog.tag" label}}">
        <div class="chip" class={{if (eq label chosenTag) "active-tag"}}>
            {{label}}
        </div>
    </a>
{{/each}}