{{!-- <div id="route-header">Main Page</div> --}}

{{!-- <img src="assets/images/rememberence_logo_5.png" class="fit-image"> --}}

<div class="hero-background">
    <div class="hero-image">
        <div class="landing-button">
            {{#paper-button raised=true class="play-button" href=(href-to "app.play") onClick=(route-action "selectRoute" "app.play")}}Play The Game{{/paper-button}}
        </div>
    </div>
</div>


<div class="landing-content">
    {{!-- <div class="landing-logo">Trailer</div>  --}}
    {{!-- <div class="center-video">
       <iframe width="100%" height="400px" src="https://www.youtube.com/embed/CrDOiY8Tcic" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div> --}}

    <div class="landing-logo">Spicy Dragons</div> 
    <div class="landing-logo-subhead">A game studio that brings the flavor</div>

    {{!-- <div class="landing-text"></div> --}}

    <div class="landing-text">We, at <b>Spicy Dragons</b>, create games that challenge and aid people who have Parkinsons, Muscular Dystophy, among other muscle diseases and Disorders.</div>


</div>