<div class="page-padding">
{{#paper-button raised=true mini=true primary=true href=(href-to "app.play")}}{{paper-icon "keyboard backspace"}}{{/paper-button}}

<iframe src="http://www.mwagar.com/REMemberance/" class="game-iframe" style="border:0px #000000 none;" name="Game name" scrolling="no" frameborder="1" marginheight="px" marginwidth="320px" height="700px" width="700px" allowfullscreen=true webkitallowfullscreen=true mozallowfullscreen=true ></iframe>
</div>